header.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 40%;
  background-color: #8A9BD0;
  background-image: url("../images/45-degree-fabric-light.png");
}

@media only screen and (min-width: 1024px) {
  header.user {
    margin: 240px 140px 0px 60px;
  }
}