nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1.5em;
  background-color: rgb(64, 86, 161, 0);
  color: #FFFFFF;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#new-nav-tweet {
  display: flex;
  flex-direction: column;
  margin-right: 1.5px;
  align-items: center;
}

#new-nav-tweet i {
  margin: 10px;
}